html {
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
	margin:0;
  padding: 0;
  box-sizing: border-box;
	padding-top:100px;
  font-family: sans-serif;
 background-color: white;
 overflow-x: hidden;
}  body::-webkit-scrollbar{
  width: 8px;
  height: 8px;
} body::-webkit-scrollbar-thumb{
  width: 8px;
  height: 8px;
  background-color: #1584F3;
  border-radius: 100px;
}   body::-webkit-scrollbar-track{
  background-color:#FFF;
}

/**** CABECERA ****/
header{
  width: 30%;
  height: 100vh;
  position:fixed;
  top: 0;
  z-index: 10;
  display: flex;
  background-color: #20202F;
  transition: all 0.5s;
  transform: translateX(-100%);
} 

.header-activo{
  width: 30%;
  height: 100vh;
  position:fixed;
  top: 0;
  z-index: 10;
  display: flex;
  background-color: #20202F;
  transition: all 0.5s;
  transform: translateX(0%);
}

header ul{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 80px;
  top:100px;
  left:20%;
  z-index: 10;
}  header ul a{
   text-decoration: none;
   color: #FFF;
   margin: 0;
   margin-left: 10px;
   transition: all 1s;
   font-weight: 800;
   font-size: 20px;
} header ul a:hover{
  text-decoration: none;
  color: #FFF;
  margin: 0;
  margin-left: 10px;
  color:#19B6F6;
}
 header ul a li{
   list-style: none;
}  

.menu-logo{
  position: fixed;
  background-color: #1279EC;
  font-size: 30px;
  color:white;
  top:50px;
  right: 40px;
  padding: 10px;
  border-radius: 10%;
  z-index: 10;
} .menu-logo:hover{
    cursor: pointer;
} .icono-close{
  font-size: 30px;
  color: white;
  position: absolute;
  right: 20px;
  top: 20px
} .icono-close:hover{
  cursor: pointer;
}


/****redes**/
.redes{
  width: 50px;
  height: auto;
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 10;
  margin-top:30px;
  position: fixed;
} .redes div{
  width: 100%;
  height: 50px;
  background-color:red;
  transition: all 1s;
  position: relative;
}  .redes div:hover{
  width: 200px;
  height: 50px;
  border-radius:0px 10px 10px 0px;
  cursor: pointer;
} .redes div:hover .icono{
  left: 80%;
}
.redes .facebook{
  background-color: #3b5998;
} .redes .whatsapp{
  background-color:#1CF523;
} .redes .instagram{
  background-image: linear-gradient(to right,#5851db,#833ab4,#c13584,#e1306c);
} 

.redes div .icono{
  color: white;
  text-align: center;
  position: absolute;
  left: 40%;
  line-height: 50px;
  transition: all 1s;
} .title-what{
  color: white;
} .enlace-what{
  color: white;
}



/*ICONO HOME*/
.icono-home{
  color: white;
  font-size: 30px;
  padding: 15px;
  background-image: linear-gradient(to right,#5A08A7,#6F0DCB,#1279EC);
  border-radius: 100%;
  position: fixed;
  right: 30px;
  top: 550px;
  z-index: 9;
  transition: all 1s;
} .icono-home:hover{
  cursor: pointer;
  transform: scale(0.9) rotate(360deg);
}
/* Banner video **/
 .banner{
  width: 100%;
  height: auto; 
 position: relative;
 background-color: white;
 top: -100px;
 overflow:hidden;
} 
.banner .info-banner1{
  position: relative;
  width: 90%;
  height: auto;
  top: 50px;
  left: 5%;
  display:flex;
  justify-content: space-around;
}
.banner .info-banner1 .texto-bien{
  width: 45%;
  font-weight: 9000;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: left;
  color: #2B2B3E;
} .texto-azul{
  color: #0B9AF7;
  font-weight: 800;
}  .texto-naranja{
  color: #FE9F02;
  font-weight: 800;
} .banner .info-banner1 svg{
  width: 30%;
  height: 300px;
}

.banner .info-banner2{
  position: relative;
  width: 90%;
  height: auto;
  top: 50px;
  left: 5%;
  display:flex;
  justify-content: space-around;
} .banner .info-banner2 svg{
  width: 40%;
  height: 300px;
}  .banner .info-banner2 p{
  width: 40%;
  font-size: 20px;
  color: #333;
  margin-top: 50px;
}

.title-stack{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
 .banner  .iconos{
  width: 50%; 
  margin: 0 auto;
  top:100px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
} .banner  .iconos img{
  width: 15%;
  height: 8%;
} 



/*************SOBRE MÍ*******************/
.svg-info{
  width: 30%;
  height: 400px;
  margin-left:35%;
}
.title-info-per{
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.cont-gen-bienvenida{
    width: 100%;
    height: auto;
    background-color: white;
  
}
.cont-gen-bienvenida .cont-bienvenida{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
 padding: 10px;
 justify-content: center;
 
}

   .cont-gen-bienvenida .cont-bienvenida  .info-intereses{
      width: 25%;
      background-color: white;
      margin-left: 20px;
      margin-bottom: 20px;
      -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);

  }  .cont-gen-bienvenida .cont-bienvenida  .info-intereses img{
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}   .cont-gen-bienvenida .cont-bienvenida  .info-intereses h2{
  color:#333;
  margin-left: 10%;
  margin-bottom: 20px;
}   .cont-gen-bienvenida .cont-bienvenida  .info-intereses p{
  font-size: 12px;
  text-align: justify;
  margin: 0 auto;
  width: 80%;
}  .cont-gen-bienvenida .cont-bienvenida  .info-intereses .icono-interes{
  font-size: 25px;
  text-align: justify;
  margin-left: 10px;
  color: #333;
} 
  
  .cont-gen-bienvenida .cont-bienvenida  .info-objetivo{
    width: 25%;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);

  } .cont-gen-bienvenida .cont-bienvenida  .info-objetivo img{
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}  .cont-gen-bienvenida .cont-bienvenida  .info-objetivo h2{
  color:#333;
  margin-left: 10%;
  margin-bottom: 20px;
}   .cont-gen-bienvenida .cont-bienvenida  .info-objetivo p{
  font-size: 12px;
  text-align: justify;
  margin: 0 auto;
  width: 80%;
} .cont-gen-bienvenida .cont-bienvenida  .info-objetivo .icono-objetivo{
  font-size: 25px;
  text-align: justify;
  margin-left: 10px;
  color: #333;
} 

.cont-gen-bienvenida .cont-bienvenida .datos-personales{
  width: 30%;
  background-color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
}.cont-gen-bienvenida .cont-bienvenida  .datos-personales img{
  width: 100%;
  height: 250px;
} 
 .cont-gen-bienvenida .cont-bienvenida .datos-personales .title-datos{
  color: #333;
  font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
} .cont-gen-bienvenida .cont-bienvenida  .datos-personales p{
  font-size: 12px;
  text-align: justify;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
} .cont-gen-bienvenida .cont-bienvenida  .datos-personales .icono-datos{
  font-size: 25px;
  text-align: justify;
  margin-left: 10px;
  color: #333;
} 

/*****************MAPA********************/

.mapa{
  width: 100%;
}



/******************MIS PROYECTOS ***********************/
.svg-exp-design{
  width: 40%;
  height: 300px;
  margin-left: 30%;
  margin-top: 30px;
}
.cont-gen-proyectos{
  width: 100%;
    height: auto;
    display: flex;
   background-color: white;
} .cont-gen-proyectos .cont-degradado{
  width: 100%;
height: auto;
display: flex;
flex-direction: column;
padding-top: 40px;
padding-bottom: 40px;

}

.cont-gen-proyectos .cont-degradado .title-proyectos{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
} .cont-gen-proyectos .cont-degradado .title-experiencia{
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
} .cont-gen-proyectos .cont-degradado .parrafo-experiencia{
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
} .cont-gen-proyectos .cont-degradado .cont-experiencia-web{
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
} .cont-gen-proyectos .cont-degradado .cont-experiencia-web .web{
  width: 30%;
  height: auto;
  display: flex;
  margin-left: 10px;
  margin-bottom: 30px;
  flex-direction: column;
  background-color: #FFF;
  position: relative;
  -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
} .cont-gen-proyectos .cont-degradado .cont-experiencia-web .web img{
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
} .cont-gen-proyectos .cont-degradado .cont-experiencia-web .web h2{
  font-size: 18px;
  color: #333;
  margin-left: 25px;
  margin-bottom: 10px;
} .cont-gen-proyectos .cont-degradado .cont-experiencia-web .web h3{
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.cont-gen-proyectos .cont-degradado .cont-experiencia-web .web p{
  width: 80%;
  font-size: 12px;
  text-align: justify;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}.cont-gen-proyectos .cont-degradado .cont-experiencia-web .web .info{
  width: 80%;
  font-size: 12px;
  text-align: justify;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
} 
 .cont-gen-proyectos .cont-degradado .cont-experiencia-web .web .boton{
  width: 100%;
  background-color: #19B6F6;
  color: white;
  margin: 0;
  position: absolute;
  bottom: 0px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-family: sans-serif;
  font-weight: 600;
  transition: all 1s;
} .cont-gen-proyectos .cont-degradado .cont-experiencia-web .web .boton:hover{
  background-color: white;
  color: #19B6F6;
  cursor: pointer;
}

/*************PROYECTOS PROPIOS*****************/
.svg-proyectos-web{
  width: 40%;
  height: 300px;
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cont-gen-web{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
} .cont-gen-web .title-proyectospropios{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
} .cont-gen-web .parrafo-misproyectos{
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
}

.cont-gen-web .cont-webs{
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
} .cont-gen-web .cont-webs .web{
  width: 30%;
  height: auto;
  display: flex;
  margin-left: 10px;
  margin-bottom: 30px;
  flex-direction: column;
  background-color: #FFF;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} .cont-gen-web .cont-webs .web img{
   width: 100%;
   height: 180px;
   margin-bottom: 20px;
} .cont-gen-web .cont-webs .web h2{
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
} .cont-gen-web .cont-webs .web p{
  width: 80%;
  font-size: 12px;
  text-align: justify;
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
}
.cont-gen-web .cont-webs .web .boton{
  width: 100%;
  background-color: #1584F3;
  color: white;
  margin: 0;
  position: absolute;
  bottom: 0px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-family: sans-serif;
  font-weight: 600;
  transition: all 1s;
} .cont-gen-web .cont-webs .web .boton:hover{
  background-color: white;
  color: #19B6F6;
}

/**************DISEÑO GRAFICO***********/
.cont-gen-dis svg{
  width: 40%;
  height: 400px;
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cont-gen-dis{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
} .cont-gen-dis .cont-degradado{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  left: 0;
  top: 0;
  position: relative;
  display: flex;
} 
.cont-gen-dis .title-proyectos{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
} .cont-gen-dis .title-experiencia{
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
} .cont-gen-dis .parrafo-experiencia{
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
} 

.cont-gen-dis .cont-imgservicio{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 50px;
  
} .cont-gen-dis .cont-imgservicio .img-servicio{
  width: 40%;
  height: 350px;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} .cont-gen-dis .cont-imgservicio .img-servicio a{
  width: 100%;
  position: absolute;
  background-color: #1584F3;
  padding:15px 0px 15px 0px;
  color: white;
  bottom: 0;
  font-weight: 700;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  transition: all 1s;
}   .cont-gen-dis .cont-imgservicio .img-servicio a:hover{
   cursor: pointer;
   color: #1584F3;
   background-color: white;
}
.cont-gen-dis .cont-imgservicio .cont-imagenes{
  background-image: url(../img/diseñoserv.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}  

.cont-gen-dis .cont-imgservicio .cont-carteles{
  background-image: url(../img/diseñoweb.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}  

/******************diseño propio*************************/
.cont-gen-dis .svg-design-proyects{
  width: 40%;
  height: 300px;
  margin: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cont-gen-dis .parrafo-diseño{
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
} .cont-gen-dis .cont-diseños-propios{
   width: 80%;
   height: auto;
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
} .cont-gen-dis .cont-diseños-propios .diseños{
  width: 30%;
  height: 250px;
  position: relative;
}  .cont-gen-dis .cont-diseños-propios .diseños a{
  width: 100%;
  color: white;
  align-self: center;
  padding: 10px 0px 10px 0px;
  display: block;
  text-decoration: none;
  font-weight: 700;
  position: absolute;
  bottom: 0px;
  background-color: #1584F3;
  transition: all 1s;
  text-align: center;
}  .cont-gen-dis .cont-diseños-propios .diseños a:hover{
  color: #1584F3;
  background-color: white;
}
.cont-gen-dis .cont-diseños-propios .cont-carteles{
  background-image: url(../img/contcarteles.webp);
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} 
.cont-gen-dis .cont-diseños-propios .cont-logos{
  background-image: url(../img/intereses.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} 
.cont-gen-dis .cont-diseños-propios .cont-posts{
  width: 30%;
  height: 250px;
  background-image: url(../img/redessociales.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}  

/****************FOOTER*****************/
footer{
  width: 100%;
  height: 350px;
  background-image: url(../img/banner.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
} footer .degradado{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(to left , rgba(000,000,000,1),rgba(000,000,000,0.8), rgba(000,000,000,0));
} footer .degradado h2{
  text-align: center;
  font-size: 30px;
  color: #FFF;
  top: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
} footer .degradado .iconos-tecnologias{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
} footer .degradado .iconos-tecnologias img{
   width: 12%;
   height: 8%;
   
}  footer .degradado .iconos-tecnologias img:nth-child(2){
  width: 20%;
  height: 12%;
  
} 
