
/*****RESPONSIVEE HEADER Y SU CONTENIDO*/
@media only screen and (max-width:1151px){
  .banner .info-banner1 .texto-bien{
    width: 45%;
    font-weight: 9000;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: left;
    color: #2B2B3E;
    margin-top:80px;
  }

 

}
@media only screen and (max-width:1025px){
 
  .banner .info-banner1 .texto-bien{
    width: 45%;
    font-weight: 9000;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: left;
    color: #2B2B3E;
    margin-top:80px;
  }

  .banner .info-banner1 svg{
    width: 25%;
    height: 300px;
  }
 
  .banner .info-banner2 svg{
    width: 35%;
    height: 300px;
  }  .banner .info-banner2 p{
    width: 35%;
    font-size: 15px;
    color: #333;
    margin-top: 50px;
    text-align: justify;
  }

  .title-stack{
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
   
  }

}

@media  screen and (max-width:1000px){
 
 
}

@media  screen and (max-width:800px){
  .banner .info-banner1{
    position: relative;
    width: 100%;
    height: auto;
    top: 50px;
    display:flex;
    flex-direction: column;
  }

  .banner .info-banner1 .texto-bien{
    width: 60%;
    font-weight: 9000;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: justify;
    color: #2B2B3E;
    align-self: center;
    margin-bottom: 80px;
  } .texto-azul{
    color: #0B9AF7;
    font-weight: 800;
  }  .texto-naranja{
    color: #FE9F02;
    font-weight: 800;
  } .banner .info-banner1 svg{
    width: 80%;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .banner .info-banner2{
    position: relative;
    width: 100%;
    height: auto;
    top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  } .banner .info-banner2 svg{
    width: 80%;
    height: 300px;
    margin-bottom: 40px;
  }  .banner .info-banner2 p{
    width: 80%;
    font-size: 20px;
    color: #333;
    margin-top: 50px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  
.title-stack{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
 
}
 .banner  .iconos{
  width: 80%;
   position: relative;
   left: 12%;
  display: flex;
  flex-wrap: wrap;
} .banner  .iconos img{
  width: 15%;
  height: 9%;
} 

}

@media only screen and (max-width:610px){
  .banner .info-banner1 .texto-bien{
    width: 70%;
    font-weight: 9000;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: justify;
    color: #2B2B3E;
    align-self: center;
    margin-bottom: 80px;
  }
}


@media only screen and (max-width:500px){

  .banner .info-banner1 .texto-bien{
    width: 80%;
    font-weight: 9000;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: justify;
    color: #2B2B3E;
    align-self: center;
    margin-bottom: 80px;
  }

  .banner .info-banner1 svg{
    width: 50%;
    height: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .banner .info-banner2{
    width: 100%;
    height: auto;
    top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
  } .banner .info-banner2 svg{
    width: 60%;
    height: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }  .banner .info-banner2 p{
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin-top: 50px;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-left: 5%;
  }
  
}



@media only screen and (max-width:450px){
  
.title-stack{
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
 
}


.banner  .iconos{
  width: 80%;
   position: relative;
   top:50px;
   left: 12%;
  display: flex;
  flex-wrap: wrap;
} .banner  .iconos img{
  width: 30%;
  height: 25%;
} 
  
}


@media only screen and (max-width:400px){
  
.menu-logo{
  position: fixed;
  background-color: #1279EC;
  font-size: 30px;
  color:white;
  top:30px;
  right: 40px;
  padding: 10px;
  border-radius: 10%;
  z-index: 10;
}
  .banner{
    padding: 0;
  }
  
  .banner .info-banner1 .texto-bien{
    width: 75%;
    font-weight: 9000;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    color: #2B2B3E;
    margin-top:40px;
  }

  .banner .info-banner1 svg{
    width: 60%;
    height: 300px;
    margin-top: -30px;
  }
 
  .banner .info-banner2 svg{
    width: 60%;
    height: 300px;
    margin-top: -80px;
  }  .banner .info-banner2 p{
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 5%;;
    margin-bottom: 80px;
  }


  .title-stack{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
   
  }
  
  
  .banner  .iconos{
    width: 80%;
     position: relative;
     top:50px;
     left: 12%;
    display: flex;
    flex-wrap: wrap;
  } .banner  .iconos img{
    width: 30%;
    height: 25%;
  } 
    
  }


  
@media only screen and (max-width:350px){
  .banner{
    padding: 0;
  }
  
  .banner .info-banner1 .texto-bien{
    width: 75%;
    font-weight: 9000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: justify;
    color: #2B2B3E;
    margin-top:40px;
  }

  .banner .info-banner1 svg{
    width: 60%;
    height: 300px;
    margin-top: -60px;
  }
 
  .banner .info-banner2 svg{
    width: 80%;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: -110px;
  }  .banner .info-banner2 p{
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 5%;;
    margin-bottom: 80px;
  }


  .title-stack{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
   
  }
  
  
  .banner  .iconos{
    width: 80%;
     position: relative;
     top:50px;
     left: 12%;
    display: flex;
    flex-wrap: wrap;
  } .banner  .iconos img{
    width: 35%;
    height: 25%;
  } 
    
  }

   
@media only screen and (max-width:300px){
  .banner{
    padding: 0;
  }
  
  .banner .info-banner1 .texto-bien{
    width: 75%;
    font-weight: 9000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: justify;
    color: #2B2B3E;
    margin-top:40px;
  }

  .banner .info-banner1 svg{
    width: 60%;
    height: 300px;
    margin-top: -60px;
  }
 
  .banner .info-banner2 svg{
    width: 80%;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: -110px;
  }  .banner .info-banner2 p{
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 5%;;
    margin-bottom: 80px;
  }


  .title-stack{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
   
  }
  
  
  .banner  .iconos{
    width: 80%;
     position: relative;
     top:50px;
     left: 12%;
    display: flex;
    flex-wrap: wrap;
  } .banner  .iconos img{
    width: 35%;
    height: 25%;
  } 
    
  }


  
@media only screen and (max-width:251px){
  .banner{
    padding: 0;
  }
  
  .banner .info-banner1 .texto-bien{
    width: 75%;
    font-weight: 9000;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: justify;
    color: #2B2B3E;
    margin-top:20px;
  }

  .banner .info-banner1 svg{
    width: 90%;
    height: 300px;
    margin-top: -80px;
  }
 
  .banner .info-banner2 svg{
    width: 80%;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: -150px;
  }  .banner .info-banner2 p{
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin: 0 auto;
    margin-top: -50px;
    margin-left: 5%;;
    margin-bottom: 80px;
  }


  .title-stack{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
   
  }
  
  
  .banner  .iconos{
    width: 80%;
     position: relative;
     top:50px;
     left: 12%;
    display: flex;
    flex-wrap: wrap;
  } .banner  .iconos img{
    width: 55%;
    height: 45%;
  } 
    
  }

  
  